extend layout

block content
  script(src="js/socketio.js")
  link(rel="stylesheet" href="css/socketio.css")
  h1.subheader Chat With Socket.IO
  .chat-container
    ul.list-group#chatcontent
      li.list-group-item.acive Chat content
    .input-group.mb-3
      .input-group-prepend
        button.btn.btn-outline-secondary( type="button" id="send-btn") Send
      input(type="text" class="form-control" placeholder="message" aria-label="" aria-describedy="basic-addon2" id="msg-input")
