.header{
  position: relative;
  padding-top: 40px;
  text-align: center;
  height: 150px;
  background: #666;
  color: #f4f4f4;
}

.cursor{
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: rgba(245, 245, 245, 0.733);
  position: absolute;
  z-index: 999;
  border-style: solid;
  border-color: #666;
}
